.site {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    align-items: stretch;
    align-content: stretch;
    height: 100%;
    width: 100%;
}

.leftSide {
width: 23%;
margin: 0%;
}

.article {
width: 53%;
}

.rightSide {
width: 24%;
height: 80%;
}

.imgBox {
width: 20%;
height: 20%;
}


.topBar {
width: 80%;
height: 10%;
}

.greeting {
  width: 70%;
  margin: auto;
}


.columnflex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.columngrid {
display: grid;
grid-auto-flow: column;
place-items: center;

}

.greyline {
  border: solid 0.5px;
  color: rgb(185, 185, 185);
  width: 40%;
}

